.favorite {

    width: 100%;
    height: 706px;

    background-image: url('/src/assets/images/favorite_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}