@import './sections/header/header.css';
@import './sections/aside/aside.css';
@import './sections/inner-img/inner-img.css';
@import './sections/notice/notice.css';

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    height: 3000px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: inset(50%);
    border: 0;
    clip: rect(0 0 0 0);
}

