.event {
    height: 693px;
    overflow: hidden;
    position: relative;
    background-color: rgb(246, 245, 239);

    .swiper {
        margin-top: 40px;
        width: 100%;
        overflow: visible;
    }

    .swiper-slide {
        width: auto;
    }

    .swiper-button-prev {
        position: absolute;
        left: 50%;
        margin-left: -500px;
    }

    .swiper-button-next {
        position: absolute;
        right: 50%;
        margin-right: -500px;
    }

    img {
        transition: all 0.5s;
    }

    .show-more {
        display: block;
        margin: auto;

        text-align: center;
        position: relative;
        bottom: 50px;
        width: 106px;
        color: rgb(51, 51, 51);
        font-weight: 700;

        border: 2px solid rgb(51, 51, 51);
        padding: 10px;
        border-radius: 5px;
        transition: background-color 0.4s, color 0.4s;
    }

    .show-more:hover {
        background-color: rgb(51, 51, 51);
        color: white;
    }

    .swiper-button-prev,
    .swiper-button-next {
        width: 42px;
        aspect-ratio: 1/1;
        border: 2px solid rgb(51, 51, 51);
        border-radius: 50%;
        transition: background-color 0.5s;

        top: 280px;
    }

    .swiper-button-prev:hover,
    .swiper-button-next:hover {
       background-color: rgb(51, 51, 51);
       .arrow{
         fill: rgb(255, 255, 255);
       }
    }



    .swiper-button-prev::after,
    .swiper-button-next::after {
        content: none;
    }

    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        background-color: gray;
        opacity: 0.5;
    }

    .swiper-pagination-bullet-active {
        background-image: url(/src/assets/images/promotion_slide_pager_on.png);
        background-size: cover;
        background-color: white;
        opacity: 1;
        transform: scale(1.2);
    }

    .arrow {
        transform: scale(0.6);
        fill: rgb(51, 51, 51);
        transition: fill 0.5s;
    }

   

}