header {
    border-bottom: 1px solid rgb(200, 200, 200);
    background-color: rgb(246, 245, 240);

    position: fixed;
    width: 100%; 
    z-index: 1000;

    /* 네비게이션 요소 */
    nav{
        max-width: 68.75rem;
        height: 7.5rem;
        padding: 0 1.25rem;

        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 68.75rem) {
            width: auto;
            min-width: 53.125rem;
        }

        .logo {
            width: 4.6875rem;
            aspect-ratio: 1/1;

            background-image: url(/src/assets/images/starbucks_logo.png);
            background-size: cover;
        }

        .sub-menu {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            
            position: relative;
            top: .625rem;

            .item {

                font-size: .8125rem;

                &::after {
                    content: '|';
                    color: #e5e5e5;
                    margin: 0 .625rem;
                }

                &:nth-last-child(2)::after {
                    content: none;
                }

                &>.link {
                display: inline-block;
                color: rgb(101, 101, 101);
                font-size: .8125rem;
                font-weight: 400;

                &:hover {
                    color: black;
                }

                }

            }

            .input {
                position: relative;
                margin-left: .9375rem;

                .search {
                    width: 2.25rem;
                    height: 2.125rem;

                    border: .0625rem solid black;
                    border-color: rgb(204, 204, 204);
                    border-radius: .5rem;

                    transition: width 0.5s;

                    &::placeholder {
                        font-size: 0rem;
                    }

                    &:focus {
                        width: 11.25rem;
                        padding: .3125rem;
                        outline: none;
                        border: .0625rem solid green;

                        &~.icon {
                            opacity: 0;
                        }

                        &::placeholder {
                            font-size: .8rem;
                        }

                    }
                }

                .icon {
                    background-image: url(/src/assets/images/search-icon.png);
                    position: absolute;

                    width: 1.25rem;
                    aspect-ratio: 1/1;

                    background-size: cover;
                    background-position: center;

                    pointer-events: none;
                    top: .4375rem;
                    right: .4375rem;

                    transition: opacity 0.5s;
                }

            }

        }

        .main-menu {
            width: 46.875rem;
            margin-top: 1.5rem;
            display: flex;
            justify-content: flex-end;

            .menu{
                padding: 1.25rem;
                border-radius: .5rem .5rem 0 0;

                font-family: "Noto Sans KR" sans-serif;
                font-size: .8125rem;
                font-weight: normal;

                &:hover{
                    background-color: #333;
                    color: rgb(102, 153, 0);
                }

                &:hover .menu-layout{
                    display: flex;
                }

            }

            .menu-layout{
                position: absolute;
                width: 100vw;

                left: 0;
                top: 7.1875rem;

                background-color: rgb(51, 51, 51);

                display: none;
                flex-direction: column;
            }

            .menu-list{
                display: flex;
                gap: 5rem;
                color: white;
                padding: 2.5rem;

                width: 68.75rem;

                margin: 0 auto;
            }

            .list{
               display: flex;
               flex-direction: column;
               gap: 1.25rem;

               font-size: .875rem;
               font-weight: 700;
            }

            .tip-layout{
                width: 100%;
                background-image: url(../../assets/images/main_menu_pattern.jpg);

                display: flex;
                justify-content: center;
            }

            .tip{
               display: flex;
               flex-direction: column;
               align-items: start;

               width: 68.75rem;
               gap: 1.25rem;

               font-size: .75rem;
              
                
               padding: 1.875rem 0 2.5rem 0;
            }

            .tip-title{
                color: rgb(153, 153, 153);
                padding-bottom: .3125rem;
            }

            .tip-sub{
                color: rgb(102, 153, 0);
                
            }

            .links{
                display: flex;
                flex-direction: column;
                gap: .9375rem;

                font-size: .75rem;
                font-weight: normal;
                color: rgb(153, 153, 153);
            }

            .link{

                &:hover{
                    color: rgb(102, 153, 0);
                }
            }
            
        }


    }


}