#up_button {
    width: 40px;
    aspect-ratio: 1/1;
    background-color: rgb(51, 51, 51);
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid white;

    position: fixed;
    right: -40px;
    bottom: 20px;
    z-index: 9999;
    cursor: pointer
}